.img-test{
  background: #fff url("../images/icon-log-out.png") 0 0 no-repeat;
  height: 100px;
  width: 100px;
}

.svg-test{
  background: #fff url("../images/status-icon/icon-info_notify.svg") 0 0 no-repeat;
  height: 100px;
  width: 100px;
}